extends layout
block page
	- var menu = 'meetings'
block content
	script(type="text/javascript" src="/scripts/jquery.min.js")
	script(type="text/javascript", src="/scripts/baseFunctions.js?v="+Math.random())

	div#vue
		div.nav
			include partials/menu.pug
		//- div.tl(style="height: 100vh; width: 84px; width: calc(var(--thumbw) * 2); position: fixed; left: 0; right: auto; top: 0;background-color: red;")
		//- 	div.tlyear(
		//- 		v-if="data && data !== '' && data.length > 0"
		//- 		v-for="(year, y) in years",
		//- 		style="height: 100vh; height: var(--yearh);"
		//- 	)
		//- 		div.ui(v-text="year")
		//- 		div.tlmonth(
		//- 			v-for="(month, m) in months"
		//- 			style="pointer-events: none; height: auto; height: var(--monthh);"
		//- 		)
		//- 			div.tlday(
		//- 				v-for="(date, m) in days"
		//- 				:class="(!active ? '' : 'active')"
		//- 				style="pointer-events:none; height: auto; height: var(--dayh);"
		//- 			)
		//- 				//- div.tlitem(
		//- 				//- 	v-for="(doc, i) in data"
		//- 				//- 	v-if="(new Date(doc.start_time).getDate() === date)"
		//- 				//- 	:class="i === parseInt(active,10) ? 'active' : ''"
		//- 				//- 	style="background-color: blue;"
		//- 				//- )
		//- 				div.ui(v-text="monthtext[month]+' '+date")

		div.wrapper(
			v-if="data && data !== '' && data.length > 0"
			v-for="(year, y) in years",
		)
			div.main(
				v-for="(month, m) in months"
				style="pointer-events: none;"
			)
				div.container(
					v-for="(date, m) in days"
					
					:class="(!active ? '' : 'active')"
					style="pointer-events:none;"
				)
					div.ui(v-text="monthtext[month]+' '+date+', '+year")
					div.ui.img(
						v-for="(doc, i) in data"
						v-if="(new Date(doc.start_time).getDate() === date)"
						@click="dialog(i)"
						@mouseover="hover"
						@mouseleave="unhover"
						@touchstart="hover"
						@touchend="dialog(i)"
						:class="i === parseInt(active,10) ? 'active' : ''"
						:id="i"
						:style="{'background-color': (!doc ? c[i] : c[cats.indexOf(doc.topic)]) }"
						style="pointer-events: auto;"
					)
						//- https://zoom.us/wc/{{ meetindID }}/join?prefer=1&un={{ base64Encoded Name }} 
						embed(v-if="!isFirefox && !isSafari && i === parseInt(active,10)" :height="(!res ? ((wWidth * 0.66) * 0.72) : 400)" :width="(!res ? wWidth * 0.66 : wWidth)" type="text/html" style="pointer-events:all; z-index: 2; position: relative;" :src="'https://zoom.us/wc/'+data[i].id+'/join?prefer=1&un='+userName")
						//- iframe(v-if="k === active" :src="'/meeting/'+data[i].id")
						div.row(style="position:relative;z-index:1;")
							div.tb-10-m0
								p(v-html="marked('# '+moment(data[i].start_time).format('LT'))")
								p(v-if="data && data[i].agenda" v-html="marked(data[i].agenda)" style="color: #555;")
							div.tb-10-m0
								div.row
									div.tb-05-m0
										a.fit(@click="deactivate(i)" role="button" target="_blank" :href="data[i].join_url" v-text="'Join in Zoom app'")
										//- a(:href="'/mtg/meeting/'+data[i].id")
									div.tb-05-m0
										a.fit(role="button" :href="'/api/editMeeting/'+ doc.id") Edit
						img(:src="'/images/icons/'+data[i].topic+'.svg'" style="width:100%; top:0; left:0; position:absolute; z-index: 0;opacity:0.4;")
						a(v-if="pu && pu.properties.admin" :href="'/api/deleteMeeting/'+data[i].id" v-text="'x'" style="z-index: 3; position: relative;")
						

	include vue/meetings.vue.pug
