script(src="https://unpkg.com/vue-router/dist/vue-router.js")
script(type="text/javascript").
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	Vue.prototype.marked = marked;
	Vue.prototype.moment = moment;
	Vue.prototype.JitsiMeetExternalAPI = window.JitsiMeetExternalAPI;
	//- Vue.prototype.JitsiMeetJS = window.JitsiMeetJS;
	//- Vue.prototype.Strophe = window.Strophe;
	var router = new VueRouter({
		mode: 'history',
		scrollBehavior: function(to, from, savedPosition) {
			if (to.hash) {
				this.app.active = to.hash.split('meeting')[1];
				//- this.app.hov = to.hash.slice(1);
			} else {
				this.app.active = null;
				//- this.app.hov = null;
			}
			//- console.log(to.hash)
			return false;
		},
		routes: [
				{path: '/mtg/jitsi'},
		]
	})
	new Vue({
		el: '#vue',
		data: function data(){
			return {
				active: null,
				api: null,
				admin: this.parseObj(!{JSON.stringify(admin)}),
				pu: this.parseObj(!{JSON.stringify(pu)}),
				data: this.parseObj(!{JSON.stringify(data)}),
				adminValidated: this.parseObj(!{JSON.stringify(admin)}),
				meeting: this.parseObj(!{JSON.stringify(meeting)}),
				dropped: false,
				res: window.innerWidth < 600,
				jwt: this.parseObj(!{JSON.stringify(jwt)}),
				connection: null,
				room: null,
				localTracks: [],
				remoteTracks: {},
				isVideo: false,
				isJoined: false,
				isFirefox: (!navigator ? true : navigator.userAgent.includes('Firefox')),
				isSafari: /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification)),
				wWidth: window.innerWidth,
				wHeight: window.innerHeight,
				years: [],
				months: [],
				days: [],
				hours: [],
				minutes: [],
				apis: {},
				keys: [],
				monthtext: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
				c: ["#1f78b4","#33a02c","#6a3d9a","#b15928","#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],
				cats: ['ecology', 'economy', 'politics', 'community'],
				menu: this.parseObj(!{JSON.stringify(menu)}),
				schedule: [
					{
						day: 0,
						title: 'past',
						subtitle: 'strike!',
						description: '',
						link: 'https://www.earthdaylive2020.org/',
						linkText: 'Earth Day Live 2020',
						img: '/public/images/Earth-Day-1970_AP.jpg'
					},
					{
						day: 1,
						title: 'present',
						subtitle: 'divest!',
						description: '',
						link: 'https://stopthemoneypipeline.com/',
						linkText: 'Stop the Money Pipeline',
						img: '/public/images/Earth-Day-crowd.jpg'
					},
					{
						day: 2,
						title: 'future',
						subtitle: 'vote!',
						description: '',
						link: '',
						linkText: '',
						img: '/public/images/HO_NASA_Earth.jpg'
					},
				]

			}
		},
		mounted: function(){
			var self = this;
			$(document).ready(function(){
				document.addEventListener('keydown', function(event) {
					var keyName = event.key;
					if (keyName === 'Enter') event.preventDefault()
				});
			})
			//- console.log(JitsiMeetJS)
			//- if (!self.api) {
			//- 	var options = {
			//- 		hosts: {
			//- 			domain: 'https://bli.sh',
			//- 			muc: 'conference.bli.sh'
			//- 		},
			//- 		bosh: 'https://bli.sh/http-bind'
			//- 	};
			//- 	var confOptions = {
			//- 		openBridgeChannel: true
			//- 	};
			//- 	var initOptions = {
			//- 		disableAudioLevels: true,
			//- 		//- 
			//- 		//- // The ID of the jidesha extension for Chrome.
			//- 		//- desktopSharingChromeExtId: 'mbocklcggfhnbahlnepmldehdhpjfcjp',
			//- 
			//- 		// Whether desktop sharing should be disabled on Chrome.
			//- 		desktopSharingChromeDisabled: false,
			//- 
			//- 		// The media sources to use when using screen sharing with the Chrome
			//- 		// extension.
			//- 		desktopSharingChromeSources: [ 'screen', 'window' ],
			//- 
			//- 		// Required version of Chrome extension
			//- 		desktopSharingChromeMinExtVersion: '0.1',
			//- 
			//- 		// Whether desktop sharing should be disabled on Firefox.
			//- 		desktopSharingFirefoxDisabled: true
			//- 	};
			//- 	JitsiMeetJS.init(initOptions);
			//- 	self.connection = new JitsiMeetJS.JitsiConnection('https://bli.sh', null, options);
			//- 	self.connection.addEventListener(
			//- 		JitsiMeetJS.events.connection.CONNECTION_ESTABLISHED,
			//- 		self.onConnectionSuccess
			//- 	)
			//- 
			//- 	self.connection.addEventListener(
			//- 		JitsiMeetJS.events.connection.CONNECTION_FAILED,
			//- 		self.onConnectionFailed
			//- 	)
			//- 
			//- 	self.connection.addEventListener(
			//- 		JitsiMeetJS.events.connection.CONNECTION_DISCONNECTED,
			//- 		self.disconnect
			//- 	)
			//- 
			//- 	JitsiMeetJS.mediaDevices.addEventListener(
			//- 		JitsiMeetJS.events.mediaDevices.DEVICE_LIST_CHANGED,
			//- 		self.onDeviceListChanged
			//- 	)
			//- 
			//- 	self.connection.connect({id: 'focus', password: ''})
			//- 	JitsiMeetJS.createLocalTracks({ devices: [ 'audio', 'video' ] })
			//- 	.then(self.onLocalTracks)
			//- 	.catch(error => {
			//- 		throw error;
			//- 	});
			//- 
			//- 	if (JitsiMeetJS.mediaDevices.isDeviceChangeAvailable('output')) {
			//- 		JitsiMeetJS.mediaDevices.enumerateDevices(devices => {
			//- 			const audioOutputDevices
			//- 				= devices.filter(d => d.kind === 'audiooutput');
			//- 
			//- 			if (audioOutputDevices.length > 1) {
			//- 				$('#audioOutputSelect').html(
			//- 					audioOutputDevices
			//- 							.map(
			//- 									d =>
			//- 											`<option value="${d.deviceId}">${d.label}</option>`)
			//- 							.join('\n'));
			//- 
			//- 				$('#audioOutputSelectWrapper').show();
			//- 			}
			//- 		});
			//- 	}
			//- 	//- self.api = new JitsiMeetJS.JitsiConnection('bli.sh', null, options) 
			//- 	//- self.connection.connect()
			//- 	//- //- console.log(JitsiMeetJS.isDesktopSharingEnabled());
			//- 	//- 
			//- 	//- 
			//- }
			if (self.data &&  self.data.length > 0) {
				self.keys = self.data.map(function(doc) {
					return doc.topic;
				});
				//- setTimeout(function(){
				//- 	self.keys.forEach(function(key, i){
				//- }, 1000)
				self.years = self.getDataDates('year');
				self.months = self.getDataDates('month');
				self.days = self.getDataDates('day');
				self.hours = self.getDataDates('hour');
				self.minutes = self.getDataDates('minute');
				self.appendStyleRoot();
			} else {
				self.appendStyleRoot();
			}

		},
		beforeDestroy: function() {
			var self = this;
			self.connection.disconnect()
			self.connection.unload()
		},
		methods: Object.assign({}, baseFunctions, jitsiFunctions)
	});
